{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        io.vinarytree/vinary-tree-interop {:mvn/version "0.1.0"}
        io.vinarytree/libdictenstein {:mvn/version "0.2.1"}}
 :aliases
 {:test
  {:extra-paths ["test"]
   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
   :override-deps
   {io.vinarytree/vinary-tree-interop
    {:local/root "../../../liblevenshtein-rust/vinary-tree-interop/bindings/jvm"}
    io.vinarytree/liblevenshtein
    {:local/root "../../../liblevenshtein-rust/bindings/jvm"}
    io.vinarytree/libdictenstein {:local/root "../jvm"}}
   :main-opts ["-m" "vinary-tree.libdictenstein-test-runner"]}}}
